*,
*::after,
*::before {
  box-sizing: border-box; }

.clearfix::after {
  content: "";
  display: table;
  clear: both; }

html {
  font-size: 100%; }
  @media screen and (max-width: 1024px) {
    html {
      font-size: 96%; } }
  @media screen and (max-width: 768px) {
    html {
      font-size: 94%; } }

body {
  font-size: 1em;
  font-weight: 400;
  font-family: roboto;
  line-height: 1.05; }

.page-wrapper {
  margin: 0 auto;
  width: 100%; }

.header__top {
  background: #f2f2f2;
  background: -webkit-linear-gradient(top, #f2f2f2 0%, #ffffff 100%);
  background: -moz-linear-gradient(top, #f2f2f2 0%, #ffffff 100%);
  background: -ms-linear-gradient(top, #f2f2f2 0%, #ffffff 100%);
  background: -o-linear-gradient(top, #f2f2f2 0%, #ffffff 100%);
  background: linear-gradient(top, #f2f2f2 0%, #ffffff 100%);
  padding: 1.5em 0; }
.header__cell {
  margin: 0 auto;
  max-width: 1200px; }
  @media screen and (max-width: 1024px) {
    .header__cell {
      width: 95%; } }
  @media screen and (max-width: 768px) {
    .header__cell {
      width: 97.5%; } }
  @media screen and (max-width: 426px) {
    .header__cell {
      padding-top: .1em;
      width: 93%; } }
.header__logo {
  float: left; }
  @media screen and (max-width: 426px) {
    .header__logo {
      float: none;
      text-align: center; } }
.header__currency {
  float: right; }
  @media screen and (max-width: 768px) {
    .header__currency {
      padding-top: .6em;
      margin-right: .5em; } }
  @media screen and (max-width: 426px) {
    .header__currency {
      float: none;
      text-align: center; } }
.header__login {
  padding-top: 1em; }
  @media screen and (max-width: 768px) {
    .header__login {
      padding-top: 1.5em; } }
  @media screen and (max-width: 426px) {
    .header__login {
      width: 68%;
      margin: 0 auto; } }
  @media screen and (max-width: 375px) {
    .header__login {
      width: 75%; } }
  @media screen and (max-width: 320px) {
    .header__login {
      width: 90%; } }
.header__nav-menu {
  background: #000;
  width: 100%; }
.header__main-menu {
  float: left; }
  @media screen and (max-width: 768px) {
    .header__main-menu {
      padding-bottom: .7em;
      width: 50%; } }
  @media screen and (max-width: 426px) {
    .header__main-menu {
      width: 100%;
      float: none;
      padding-bottom: 0; } }
.header__search {
  float: right;
  margin-top: .55em; }
  @media screen and (max-width: 426px) {
    .header__search {
      width: 100%;
      float: none;
      margin-bottom: .7em; } }

.banner {
  margin: 0 auto;
  max-width: 1200px; }
  @media screen and (max-width: 1024px) {
    .banner {
      width: 95%; } }
  @media screen and (max-width: 768px) {
    .banner {
      width: 97.5%; } }
  @media screen and (max-width: 426px) {
    .banner {
      width: 93%; } }

.logo__link {
  text-decoration: none;
  display: block;
  text-transform: uppercase;
  font-weight: 900; }
  .logo__link:hover .logo__wrap1 {
    color: #000; }
  .logo__link:hover .logo__wrap2 {
    color: #19bde8; }
.logo__wrap1 {
  color: #19bde8;
  font-size: 3.3em; }
.logo__wrap2 {
  color: #000;
  font-size: 2.7em; }

.currency__list {
  border: none;
  font-size: .9em;
  font-weight: 700;
  text-transform: uppercase;
  margin-right: 1.8em; }
.currency__wrap-link {
  text-decoration: none;
  color: #000;
  position: relative; }
.currency__icon {
  font-size: 2em; }
.currency__text {
  display: inline-block;
  background: #19bde8;
  color: #fff;
  font-size: .85em;
  padding: 7px 10px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
  position: absolute;
  right: -12px;
  top: -20px; }

.login__list {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: right;
  float: right; }
.login__item {
  float: left;
  margin-right: 1em; }
.login__link {
  text-decoration: none;
  color: #000;
  font-weight: 700;
  font-size: .9em;
  text-transform: capitalize; }
  .login__link:hover {
    color: #19bde8; }

.bg-active {
  background: #19bde8; }

.js-main-menu {
  display: block; }

.main-menu {
  position: relative; }
  .main-menu__toggle-list {
    display: none;
    font-size: .85em;
    background: #fff;
    width: 100%;
    padding: .8em .8em .8em .6em;
    margin-top: .7em;
    text-transform: capitalize;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px; }
    @media screen and (max-width: 768px) {
      .main-menu__toggle-list {
        display: block; } }
    @media screen and (max-width: 426px) {
      .main-menu__toggle-list {
        width: 100%; } }
  .main-menu__toggle-icon {
    float: right; }
  .main-menu__list {
    padding: 0;
    margin: 0;
    list-style: none; }
    @media screen and (max-width: 768px) {
      .main-menu__list {
        position: absolute;
        left: 0;
        top: 37px;
        width: 100%;
        background: #fff;
        border: 1px solid #dbdbd;
        z-index: 2000;
        display: none; } }
    @media screen and (max-width: 426px) {
      .main-menu__list {
        top: 30px; } }
  .main-menu__item {
    float: left;
    position: relative; }
    @media screen and (max-width: 768px) {
      .main-menu__item {
        float: none;
        border-bottom: 1px solid #dbdbdb; } }
    .main-menu__item:hover .main-menu__sub-list {
      display: block; }
  .main-menu__item-icon {
    position: absolute;
    font-size: .8em;
    top: 2.7em;
    left: 45%; }
    @media screen and (max-width: 768px) {
      .main-menu__item-icon {
        display: none; } }
  .main-menu__link {
    text-decoration: none;
    color: #fff;
    display: block;
    border-right: 1px solid #3a3a3a;
    position: relative;
    overflow: hidden;
    height: 50px; }
    .main-menu__link:before {
      display: block;
      content: attr(title);
      font-size: .9em;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background: #19bde8;
      color: #fff;
      text-align: center;
      text-transform: capitalize;
      line-height: 50px;
      -webkit-transform: translateX(-100%);
      -moz-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
      -o-transform: translateX(-100%);
      transform: translateX(-100%);
      -webkit-transition: transform 0.3s;
      -moz-transition: transform 0.3s;
      -ms-transition: transform 0.3s;
      -o-transition: transform 0.3s;
      transition: transform 0.3s; }
      @media screen and (max-width: 768px) {
        .main-menu__link:before {
          display: none; } }
    .main-menu__link:hover .main-menu__elts {
      -webkit-transform: translateX(100%);
      -moz-transform: translateX(100%);
      -ms-transform: translateX(100%);
      -o-transform: translateX(100%);
      transform: translateX(100%); }
      @media screen and (max-width: 768px) {
        .main-menu__link:hover .main-menu__elts {
          -webkit-transform: translateX(0%);
          -moz-transform: translateX(0%);
          -ms-transform: translateX(0%);
          -o-transform: translateX(0%);
          transform: translateX(0%);
          background: #19bde8; } }
    .main-menu__link:hover::before {
      -webkit-transform: translateX(0%);
      -moz-transform: translateX(0%);
      -ms-transform: translateX(0%);
      -o-transform: translateX(0%);
      transform: translateX(0%); }
    @media screen and (max-width: 768px) {
      .main-menu__link {
        border-right: 0; } }
  .main-menu__elts {
    display: block;
    font-size: .9em;
    padding: 0 1em;
    text-transform: capitalize;
    -webkit-transition: transform 0.3s;
    -moz-transition: transform 0.3s;
    -ms-transition: transform 0.3s;
    -o-transition: transform 0.3s;
    transition: transform 0.3s;
    position: relative;
    line-height: 50px; }
    @media screen and (max-width: 768px) {
      .main-menu__elts {
        padding: .5em .3em;
        font-size: .85em;
        color: #000; } }
  .main-menu__sub-list {
    position: absolute;
    background: #000;
    width: 180px;
    display: none;
    z-index: 1000; }
    @media screen and (max-width: 768px) {
      .main-menu__sub-list {
        display: block;
        position: relative;
        width: 100%;
        background: #fff; } }
  .main-menu__sub-item {
    border-top: 1px solid #3a3a3a;
    padding-right: 0; }
    .main-menu__sub-item:hover {
      background: #19bde8; }
    @media screen and (max-width: 768px) {
      .main-menu__sub-item {
        border-top: 0;
        border-top: 1px solid #dbdbdb; } }
  .main-menu__sub-link {
    text-decoration: none;
    color: #fff;
    font-size: .83em;
    text-transform: capitalize;
    display: block;
    padding: .5em; }
    @media screen and (max-width: 768px) {
      .main-menu__sub-link {
        font-size: .8em;
        color: #000; }
        .main-menu__sub-link:before {
          content: "-";
          color: #000;
          padding-right: .2em;
          font-size: .9em; } }

.search {
  width: 280px;
  position: relative; }
  @media screen and (max-width: 426px) {
    .search {
      width: 100%; } }
  .search__field {
    display: block;
    border: 0;
    width: 100%;
    padding: 9px 65px 9px 10px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px; }
  .search__btn {
    font-size: 1.1em;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    padding: 0 20px;
    border: 0;
    border: 1px solid #dbdbdb;
    -webkit-border-radius: 0 4px 4px 0;
    -moz-border-radius: 0 4px 4px 0;
    -ms-border-radius: 0 4px 4px 0;
    -o-border-radius: 0 4px 4px 0;
    border-radius: 0 4px 4px 0;
    background: -webkit-linear-gradient(to bottom, #dbdbdb 0%, #fefefe 100%);
    background: -moz-linear-gradient(to bottom, #dbdbdb 0%, #fefefe 100%);
    background: -ms-linear-gradient(to bottom, #dbdbdb 0%, #fefefe 100%);
    background: -o-linear-gradient(to bottom, #dbdbdb 0%, #fefefe 100%);
    background: linear-gradient(to bottom, #dbdbdb 0%, #fefefe 100%); }
    .search__btn:hover {
      color: #fff;
      background: #19bde8;
      border-color: #19bde8; }
    @media screen and (max-width: 426px) {
      .search__btn {
        padding: 0 12px; } }

.main-content__cell {
  margin: 0 auto;
  margin-top: 1em;
  max-width: 1200px; }
  @media screen and (max-width: 1024px) {
    .main-content__cell {
      width: 95%; } }
  @media screen and (max-width: 768px) {
    .main-content__cell {
      width: 97.5%; } }
  @media screen and (max-width: 426px) {
    .main-content__cell {
      width: 93%; } }
.main-content__right-container {
  float: right;
  width: 74.5%; }
  @media screen and (max-width: 426px) {
    .main-content__right-container {
      float: none;
      width: 100%; } }
.main-content__left-sidebar {
  float: left;
  width: 23%; }
  @media screen and (max-width: 426px) {
    .main-content__left-sidebar {
      float: none;
      width: 100%; } }
.main-content__system-item {
  width: 48.5%;
  float: left;
  margin-right: 3%;
  margin-bottom: 1.5em; }
  .main-content__system-item:nth-of-type(2n) {
    margin-right: 0; }
  @media screen and (max-width: 426px) {
    .main-content__system-item {
      float: none;
      width: 100%;
      margin-right: 0; } }
@media screen and (max-width: 426px) {
  .main-content__feature-title {
    margin-bottom: 1.3em; } }
.main-content__wrap-products {
  padding-top: 1.7em; }
.main-content__products-item {
  padding: .7em;
  width: 31%;
  float: left;
  margin-right: 3.5%;
  margin-bottom: 1.8em; }
  @media screen and (max-width: 768px) {
    .main-content__products-item {
      padding-bottom: 0; } }
  .main-content__products-item:nth-of-type(3n+0) {
    margin-right: 0; }
  @media screen and (max-width: 426px) {
    .main-content__products-item {
      float: none;
      width: 100%;
      margin-right: 0;
      margin-bottom: 1em; } }
.main-content__best-sale {
  padding: .7em;
  margin-bottom: 2em; }
.main-content__nav-categorie {
  margin-top: 1.2em;
  margin-bottom: 2em; }
.main-content__categorie-description {
  margin-bottom: 2em; }
.main-content__products-showing {
  margin-top: 1.5em;
  margin-bottom: 1.5em; }
.main-content__show-picture {
  width: 40%;
  float: left; }
  @media screen and (max-width: 426px) {
    .main-content__show-picture {
      float: none;
      width: 100%;
      margin-bottom: 2em; } }
.main-content__picture-description {
  width: 56%;
  float: right; }
  @media screen and (max-width: 426px) {
    .main-content__picture-description {
      float: none;
      width: 100%; } }

.left-sidebar__main-title {
  margin-bottom: 2em; }
  @media screen and (max-width: 426px) {
    .left-sidebar__main-title {
      margin-top: 1em; } }
  .left-sidebar__main-title--best-sale {
    margin: 1.8em 0; }
.left-sidebar__special-offer {
  margin: 1.7em 0;
  background: #000; }

.main-title {
  background: #000;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.1em;
  padding: .6em 0 .6em 1em;
  font-weight: 500;
  font-family: roboto;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px; }

.button {
  text-align: center;
  text-decoration: none;
  font-weight: 900;
  font-size: .91em;
  color: #000;
  border: 1px solid #b8b8b8;
  padding: .45em .7em;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  background: #dbdbdb;
  border: 1px solid #b8b8b8;
  background: -webkit-linear-gradient(to bottom, #dbdbdb 0%, #fefefe 100%);
  background: -moz-linear-gradient(to bottom, #dbdbdb 0%, #fefefe 100%);
  background: -ms-linear-gradient(to bottom, #dbdbdb 0%, #fefefe 100%);
  background: -o-linear-gradient(to bottom, #dbdbdb 0%, #fefefe 100%);
  background: linear-gradient(to bottom, #dbdbdb 0%, #fefefe 100%);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }
  .button__icon {
    color: #19bde8;
    margin-right: .4em;
    font-size: 1.4em; }
  .button:hover .button__icon {
    color: #fff; }
  .button:hover {
    background: #19bde8;
    color: #fff; }

.nav-list {
  padding: 0;
  margin: 0;
  list-style: none; }
  .nav-list__item {
    position: relative;
    margin-bottom: .3em; }
  .nav-list__link {
    text-decoration: none;
    color: #000;
    display: block;
    border: 1px solid #b8b8b8;
    background: #dbdbdb;
    background: -webkit-linear-gradient(to bottom, #dbdbdb 0%, #fefefe 100%);
    background: -moz-linear-gradient(to bottom, #dbdbdb 0%, #fefefe 100%);
    background: -ms-linear-gradient(to bottom, #dbdbdb 0%, #fefefe 100%);
    background: -o-linear-gradient(to bottom, #dbdbdb 0%, #fefefe 100%);
    background: linear-gradient(to bottom, #dbdbdb 0%, #fefefe 100%);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    position: relative;
    overflow: hidden; }
    .nav-list__link:before {
      display: block;
      content: attr(title);
      font-size: 1em;
      font-weight: 700;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background: #19bde8;
      color: #fff;
      text-transform: uppercase;
      padding-top: .95em;
      padding-left: .8em;
      -webkit-transform: translateX(-100%);
      -moz-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
      -o-transform: translateX(-100%);
      transform: translateX(-100%);
      -webkit-transition: transform 0.3s;
      -moz-transition: transform 0.3s;
      -ms-transition: transform 0.3s;
      -o-transition: transform 0.3s;
      transition: transform 0.3s; }
      @media screen and (max-width: 768px) {
        .nav-list__link:before {
          font-size: .77em; } }
      @media screen and (max-width: 426px) {
        .nav-list__link:before {
          font-size: 1.1em; } }
    .nav-list__link:hover .nav-list__elts {
      -webkit-transform: translateX(100%);
      -moz-transform: translateX(100%);
      -ms-transform: translateX(100%);
      -o-transform: translateX(100%);
      transform: translateX(100%); }
    .nav-list__link:hover::before {
      -webkit-transform: translateX(0%);
      -moz-transform: translateX(0%);
      -ms-transform: translateX(0%);
      -o-transform: translateX(0%);
      transform: translateX(0%); }
  .nav-list__elts {
    display: block;
    font-size: 1em;
    font-weight: 500;
    padding: 0.9em 0.8em;
    text-transform: uppercase;
    -webkit-transition: transform 0.3s;
    -moz-transition: transform 0.3s;
    -ms-transition: transform 0.3s;
    -o-transition: transform 0.3s;
    transition: transform 0.3s;
    position: relative; }
    @media screen and (max-width: 768px) {
      .nav-list__elts {
        font-size: .77em; } }
    @media screen and (max-width: 426px) {
      .nav-list__elts {
        font-size: 1.1em; } }

.special-offer {
  background: #000; }
  .special-offer__link {
    text-decoration: none;
    display: block;
    width: 100%;
    position: relative; }
    @media screen and (max-width: 426px) {
      .special-offer__link {
        width: 70%;
        margin: 0 auto; } }
  .special-offer__image {
    min-width: 100%;
    -webkit-transition: transform 0.5s;
    -moz-transition: transform 0.5s;
    -ms-transition: transform 0.5s;
    -o-transition: transform 0.5s;
    transition: transform 0.5s; }
    @media screen and (max-width: 1024px) {
      .special-offer__image {
        max-width: 100%; } }
  .special-offer__text-wrapper {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0; }
    @media screen and (max-width: 426px) {
      .special-offer__text-wrapper {
        top: 1.5em; } }
  .special-offer__title {
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    font-weight: 900;
    font-size: 1.9em;
    margin: .5em 0 6em 0; }
    @media screen and (max-width: 1024px) {
      .special-offer__title {
        font-size: 1.5em;
        margin: .7em 0 5.2em 0; } }
    @media screen and (max-width: 768px) {
      .special-offer__title {
        font-size: 1.2em;
        margin-bottom: 6.5em; } }
    @media screen and (max-width: 426px) {
      .special-offer__title {
        font-size: 1.4em;
        margin-bottom: 8.5em;
        margin-top: 0; } }
    @media screen and (max-width: 375px) {
      .special-offer__title {
        margin-bottom: 6.5em; } }
    @media screen and (max-width: 320px) {
      .special-offer__title {
        margin-bottom: 5.5em; } }
  .special-offer__subtitle {
    text-transform: uppercase;
    text-align: center;
    color: #19bde8;
    font-weight: 900;
    font-size: 1.5em; }
    @media screen and (max-width: 768px) {
      .special-offer__subtitle {
        font-size: .9em; } }
    @media screen and (max-width: 426px) {
      .special-offer__subtitle {
        font-size: 1.6em; } }
  .special-offer__text {
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    font-weight: 900;
    font-size: 1.1em;
    margin-top: .2em; }
    @media screen and (max-width: 768px) {
      .special-offer__text {
        font-size: .9em; } }
    @media screen and (max-width: 426px) {
      .special-offer__text {
        font-size: 1.1em; } }
  .special-offer:hover .special-offer__image {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -o-transform: scale(0.9);
    transform: scale(0.9); }
  .special-offer:hover .special-offer__title {
    color: #19bde8; }
  .special-offer:hover .special-offer__text {
    color: #19bde8; }
  .special-offer:hover .special-offer__subtitle {
    color: #fff; }

.system-item {
  text-decoration: none;
  display: block;
  position: relative; }
  .system-item__image {
    min-width: 100%;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #b8b8b8; }
    @media screen and (max-width: 1024px) {
      .system-item__image {
        max-width: 100%; } }
  .system-item__description {
    padding-left: .8em;
    padding-top: .4em;
    position: absolute;
    top: 0;
    left: 0;
    width: 250px; }
  .system-item__title {
    text-transform: uppercase;
    color: #19bde8;
    font-size: 2em;
    font-weight: 900;
    -webkit-transition: color 0.5s ease;
    -moz-transition: color 0.5s ease;
    -ms-transition: color 0.5s ease;
    -o-transition: color 0.5s ease;
    transition: color 0.5s ease; }
    @media screen and (max-width: 426px) {
      .system-item__title {
        font-size: 1.2em;
        display: block; } }
  .system-item__small-title {
    text-transform: uppercase;
    color: #000;
    font-size: 1.5em;
    font-weight: 900;
    -webkit-transition: color 0.5s ease;
    -moz-transition: color 0.5s ease;
    -ms-transition: color 0.5s ease;
    -o-transition: color 0.5s ease;
    transition: color 0.5s ease; }
    @media screen and (max-width: 426px) {
      .system-item__small-title {
        font-size: .9em;
        display: block;
        margin-bottom: .5em; } }
  .system-item__text {
    color: #000;
    font-size: .8em;
    line-height: 1.3;
    margin-top: .2em;
    -webkit-transition: color 0.5s ease;
    -moz-transition: color 0.5s ease;
    -ms-transition: color 0.5s ease;
    -o-transition: color 0.5s ease;
    transition: color 0.5s ease; }
    @media screen and (max-width: 1024px) {
      .system-item__text {
        display: none; } }
    @media screen and (max-width: 426px) {
      .system-item__text {
        display: block;
        font-size: .7em;
        line-height: 1.4; } }
    @media screen and (max-width: 320px) {
      .system-item__text {
        display: none; } }
  .system-item:hover .system-item__image {
    box-shadow: 0 0 19px rgba(0, 0, 0, 0.2); }
  .system-item:hover .system-item__title {
    color: #000; }
  .system-item:hover .system-item__small-title {
    color: #19bde8; }
  .system-item:hover .system-item__text {
    color: #19bde8; }

.products {
  border-radius: 4px;
  border: 1px solid #dbdbdb;
  -webkit-transition: box-shadow 0.5s ease;
  -moz-transition: box-shadow 0.5s ease;
  -ms-transition: box-shadow 0.5s ease;
  -o-transition: box-shadow 0.5s ease;
  transition: box-shadow 0.5s ease; }
  .products:hover {
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.2); }
  .products__link-picture {
    text-decoration: none;
    display: block;
    margin-bottom: .5em;
    -webkit-transition: transform 0.7s ease;
    -moz-transition: transform 0.7s ease;
    -ms-transition: transform 0.7s ease;
    -o-transition: transform 0.7s ease;
    transition: transform 0.7s ease; }
    .products__link-picture--product {
      width: 65%;
      margin: 0 auto;
      margin-bottom: 1em; }
    .products__link-picture:hover {
      -webkit-transform: scale(0.9);
      -moz-transform: scale(0.9);
      -ms-transform: scale(0.9);
      -o-transform: scale(0.9);
      transform: scale(0.9); }
    @media screen and (max-width: 426px) {
      .products__link-picture {
        float: left;
        width: 30%; } }
  .products__image {
    min-width: 100%; }
    .products__image--product {
      max-width: 100%; }
    @media screen and (max-width: 1024px) {
      .products__image {
        max-width: 100%; } }
  .products__description {
    margin-bottom: .5em; }
    @media screen and (max-width: 426px) {
      .products__description {
        float: right;
        width: 68%;
        padding-top: 1em;
        margin-bottom: 1.2em; } }
  .products__price {
    color: #19bde8;
    font-size: 1.1em;
    font-weight: 700; }
    .products__price--sale {
      font-size: .85em;
      font-weight: 400;
      text-decoration: line-through;
      color: #777777; }
  .products__header {
    margin: .3em 0; }
    .products__header--collection {
      margin: 1em 0 1.5em 0; }
    .products__header--product {
      margin-bottom: 2em; }
  .products__header-link {
    text-decoration: none;
    color: #000;
    font-size: .9em;
    font-weight: 900;
    text-transform: capitalize;
    -webkit-transition: color 0.5s ease;
    -moz-transition: color 0.5s ease;
    -ms-transition: color 0.5s ease;
    -o-transition: color 0.5s ease;
    transition: color 0.5s ease; }
    .products__header-link:hover {
      color: #19bde8; }
  .products__text {
    font-size: .8em;
    color: #777777;
    line-height: 1.2;
    margin-bottom: 1em; }
    @media screen and (max-width: 426px) {
      .products__text {
        line-height: 1.6; } }
    .products__text--collection {
      display: none; }
  .products__button {
    margin-right: .3em; }
    @media screen and (max-width: 768px) {
      .products__button {
        margin-right: 0;
        width: 100%;
        display: block;
        margin-bottom: .4em; } }
    @media screen and (max-width: 426px) {
      .products__button {
        display: inline;
        margin-right: .3em; } }
    @media screen and (max-width: 768px) {
      .products__button {
        font-size: .95em; } }

.breadcrumb {
  max-width: 1200px;
  margin: 0 auto;
  background-color: #dbdbdb;
  background: -webkit-linear-gradient(to bottom, #dbdbdb 0%, #fefefe 100%);
  background: -moz-linear-gradient(to bottom, #dbdbdb 0%, #fefefe 100%);
  background: -ms-linear-gradient(to bottom, #dbdbdb 0%, #fefefe 100%);
  background: -o-linear-gradient(to bottom, #dbdbdb 0%, #fefefe 100%);
  background: linear-gradient(to bottom, #dbdbdb 0%, #fefefe 100%);
  border: 1px solid #b8b8b8;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  padding: 1em .95em;
  margin-top: 1.7em; }
  @media screen and (max-width: 1024px) {
    .breadcrumb {
      width: 95%; } }
  @media screen and (max-width: 768px) {
    .breadcrumb {
      width: 97.5%; } }
  @media screen and (max-width: 426px) {
    .breadcrumb {
      width: 93%; } }
  .breadcrumb__item {
    color: #000;
    font-size: .85em;
    font-weight: bold;
    padding-right: .2em;
    text-transform: uppercase; }
    .breadcrumb__item:last-child {
      color: #19bde8; }

.picture-description__header {
  text-transform: uppercase;
  font-size: 1.2em;
  color: #000;
  font-weight: 700;
  margin-bottom: .6em; }
.picture-description__price {
  color: #19bde8;
  font-weight: bold;
  font-size: 1.3em; }
.picture-description__quantity {
  margin: 1.1em 0; }
.picture-description__name {
  color: #b4b4b4;
  text-transform: capitalize;
  font-size: .9em;
  font-weight: 500; }
.picture-description__number {
  width: 50px;
  padding: .7em;
  margin-right: .8em; }
.picture-description__button {
  padding-top: .6em;
  padding-bottom: .6em; }
.picture-description__wrap-vendor {
  border-top: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
  padding: 1.4em 0; }
.picture-description__text {
  color: #b4b4b4;
  font-size: .8em;
  line-height: 1.8; }
.picture-description__text-link {
  text-decoration: none;
  color: #19bde8;
  margin-left: 5px; }
  .picture-description__text-link:hover {
    color: #75a72f; }
.picture-description__subtitle {
  color: #000;
  font-size: 1em;
  margin: .9em 0; }
.picture-description__text-description {
  color: #b4b4b4;
  font-size: .8em;
  font-weight: 500;
  line-height: 1.4; }

.wrap-about {
  margin-top: 2em; }
  .wrap-about__item {
    width: 31.5%;
    float: left;
    margin-right: 2.7%; }
    .wrap-about__item:nth-of-type(3n) {
      margin-right: 0; }
    @media screen and (max-width: 426px) {
      .wrap-about__item {
        width: 100%;
        float: none;
        margin-bottom: 2em; } }

.about-us__image {
  max-width: 100%; }
.about-us__title {
  color: #000;
  font-size: 1.1em;
  font-weight: 500;
  text-transform: uppercase;
  border-bottom: 1px solid #000;
  padding-bottom: .5em;
  margin-top: 2em;
  margin-bottom: .7em; }
.about-us__text {
  color: #777777;
  font-size: .85em;
  line-height: 1.5; }

.nav-categorie__list {
  padding: 0;
  margin: 0;
  list-style: none; }
.nav-categorie__item {
  float: left;
  margin-right: .3em;
  background-color: #000; }
  .nav-categorie__item:first-child {
    background: #19bde8; }
.nav-categorie__link {
  text-decoration: none;
  display: block;
  color: #fff;
  font-size: .9em;
  padding: .5em .6em;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px; }

.categorie-description {
  width: 100%; }
  .categorie-description__picture {
    float: left;
    width: 25%;
    padding: 0 .5em; }
    @media screen and (max-width: 426px) {
      .categorie-description__picture {
        width: 100%;
        float: none;
        text-align: center;
        padding: 0; } }
  .categorie-description__image {
    max-width: 100%; }
  .categorie-description__blog-text {
    float: right;
    width: 75%;
    padding-left: 1.2em; }
    @media screen and (max-width: 426px) {
      .categorie-description__blog-text {
        width: 100%;
        float: none;
        padding-left: 0; } }
  .categorie-description__text {
    color: #777777;
    font-size: .8em;
    line-height: 1.5; }

.sort {
  border-top: 1px solid #dbdbdb;
  border-bottom: 1px solid #dbdbdb;
  text-align: right;
  padding: 1em 0; }
  .sort__name {
    font-size: .92em;
    font-weight: 900; }
  .sort__filter {
    padding: .4em;
    color: #777777; }

.wrap-login {
  width: 55%;
  margin: 0 auto;
  padding: 1em 0; }
  @media screen and (max-width: 426px) {
    .wrap-login {
      width: 100%; } }

.login-form__item {
  width: 100%;
  margin-bottom: 1em; }
.login-form__text-form {
  width: 30%;
  text-align: right;
  padding-right: 30px;
  display: inline-block;
  color: #19bde8;
  font-size: .85em; }
  @media screen and (max-width: 426px) {
    .login-form__text-form {
      width: 100%;
      text-align: left;
      margin-bottom: .7em; } }
.login-form__input-form {
  width: 70%;
  display: inline-block;
  padding: .6em .5em;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid  #e0e0e0; }
  @media screen and (max-width: 426px) {
    .login-form__input-form {
      width: 100%; } }
.login-form__text-paragraphe {
  margin-left: 25%;
  margin-bottom: .8em; }
  @media screen and (max-width: 426px) {
    .login-form__text-paragraphe {
      margin-left: 0; } }
.login-form__text-link {
  text-decoration: none;
  color: #19bde8;
  font-weight: 500;
  font-size: .85em; }
  .login-form__text-link:hover {
    color: #000; }
.login-form__btn-form {
  margin: 2em 0;
  margin-left: 25%; }
  @media screen and (max-width: 426px) {
    .login-form__btn-form {
      margin-left: 0; } }
.login-form__store {
  color: #000;
  margin-left: .3em; }
.login-form__store-link {
  text-decoration: none;
  color: #19bde8;
  font-weight: 500;
  font-size: .8em; }
  .login-form__store-link:hover {
    color: #000; }

.search-contact {
  margin-top: 3em; }
  .search-contact__field {
    margin: 0;
    width: 31%;
    margin-right: 2.9%;
    padding: .6em; }
    @media screen and (max-width: 768px) {
      .search-contact__field {
        margin-right: 2.7%; } }
    @media screen and (max-width: 768px) {
      .search-contact__field {
        width: 100%;
        margin-right: 0;
        margin-bottom: .7em; } }
    .search-contact__field:last-child {
      margin-right: 0; }
  .search-contact__field-area {
    width: 100%;
    margin: 1em 0;
    margin-bottom: 2em; }
  .search-contact__btn {
    margin-right: .3em; }

.footer__wrap-item {
  background: -webkit-linear-gradient(to bottom, #f2f2f2 0%, #ffffff 100%);
  background: -moz-linear-gradient(to bottom, #f2f2f2 0%, #ffffff 100%);
  background: -ms-linear-gradient(to bottom, #f2f2f2 0%, #ffffff 100%);
  background: -o-linear-gradient(to bottom, #f2f2f2 0%, #ffffff 100%);
  background: linear-gradient(to bottom, #f2f2f2 0%, #ffffff 100%);
  padding-bottom: 2em; }
.footer__cell {
  margin: 0 auto;
  padding-top: 3em;
  max-width: 1200px; }
  @media screen and (max-width: 1024px) {
    .footer__cell {
      width: 95%; } }
  @media screen and (max-width: 768px) {
    .footer__cell {
      width: 97.5%; } }
  @media screen and (max-width: 426px) {
    .footer__cell {
      width: 93%; } }
.footer__item {
  float: left;
  width: 25%; }
  @media screen and (max-width: 426px) {
    .footer__item {
      float: none;
      width: 100%; } }
  @media screen and (max-width: 426px) {
    .footer__item {
      margin-bottom: 2.5em; } }
.footer__wrap-copyright {
  background: -webkit-linear-gradient(to bottom, #f2f2f2 0%, #ffffff 100%);
  background: -moz-linear-gradient(to bottom, #f2f2f2 0%, #ffffff 100%);
  background: -ms-linear-gradient(to bottom, #f2f2f2 0%, #ffffff 100%);
  background: -o-linear-gradient(to bottom, #f2f2f2 0%, #ffffff 100%);
  background: linear-gradient(to bottom, #f2f2f2 0%, #ffffff 100%); }
.footer__copyright-cell {
  margin: 0 auto;
  max-width: 1200px; }
  @media screen and (max-width: 1024px) {
    .footer__copyright-cell {
      width: 95%; } }
  @media screen and (max-width: 768px) {
    .footer__copyright-cell {
      width: 97.5%; } }
  @media screen and (max-width: 426px) {
    .footer__copyright-cell {
      width: 93%; } }

.nav-footer__header {
  font-size: 1.1em;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 1.2em; }
.nav-footer__item {
  margin-bottom: .7em; }
.nav-footer__link {
  text-decoration: none;
  font-size: .8em;
  text-transform: capitalize;
  color: #19bde8;
  display: block; }
  .nav-footer__link--active {
    color: #000; }
  .nav-footer__link:hover {
    color: #000; }

.copyright {
  color: #777777;
  font-size: .8em;
  padding: 3em 0; }

/*# sourceMappingURL=style.css.map */
